main{
    display: flex;
    justify-content: space-between;
    height: 60vh;

    text-align: center;
    align-items: center;
}

main button{
    height: 5vh;
}

.calculator-questions, .calculator-input{
    height: 90%;
    align-content: center;
    margin: 1vw;
    padding: 10px;
    
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px lightgrey;
}