@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body{
    margin: 0%;
    padding: 0%;
}

img{
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.upperHeader{
    display: flex;

    min-width: 100%;
    justify-content: space-between;
}

.button-login{
    width: 10%;

    background-color: #11b67a;
    border-style: none;
    font-family: 'Merriweather', 'serif';
    font-size: large;
    transition-duration: 1s;
}

.button-login:hover{
    background-color: black;
    color: white;

    transition-duration: 1s;
}

.logo{
    display: flex;
    
    align-items: center;
    width: 100%;
    height: 15%;
    padding-left: 15px;
    background-color: #11b67a;
    box-shadow: 0px 1px 20px grey;
}

.logo-logo{
    width: 4rem;
    height: 4rem;
}

.logo-name{
    font-size: 52px;
    font-family: 'Merriweather', serif;
}

.navigation{
    display: flex;
    margin: 0%;
    padding: 0%;
    width: 90%;
    height: 6vh;

    list-style: none;
    color: white;
    background-color: black;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 20px black;
}

.navigation li{
    width: 25%;

    font-family: 'Merriweather', 'serif';
    text-align: center;
    align-content: center;
}

.navigation li:hover{
    text-decoration: underline;
}


main{
    display: flex;
    justify-content: space-between;
    height: 60vh;

    text-align: center;
    align-items: center;
}

main button{
    height: 5vh;
}

.calculator-next-button{
    clip-path: circle(35.0% at 50% 50%);
    height: 20vh;
    width: 20vw;
    margin: 0;
    padding: 0;
    background: none;
    border: none;

    justify-items: center;
    align-items: center;
}

.calculator-next-button img{
    height: 10vh;
    width: 10vw;
}

@keyframes nextButton{
    0%{

    }
    100%{
        transform: rotate(180deg);
        scale: 2;
        background-color: #11b67a;
    }
}

.calculator-next-button img:hover{
    animation-name: nextButton;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


.calculator-questions, .calculator-input{
    height: 90%;
    align-content: center;
    margin: 3vw;
    padding: 10px;
    
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px lightgrey;
}

.calculator-questions{
    margin-right: 0;
}

.calculator-input{
    margin-left: 0;
}