@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

input, select{
    text-align: center;
}

img{
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.header{
    display: flex;

    width: 100%;
    justify-content: space-between;
}

.button-login{
    width: 10%;

    background-color: #11b67a;
    border-style: none;
    font-family: 'Merriweather', 'serif';
    font-size: large;
    transition-duration: 1s;
}

.button-login:hover{
    background-color: black;
    color: white;

    transition-duration: 1s;
}

.logo{
    display: flex;
    
    align-items: center;
    width: 100%;
    height: 8rem;
    padding-left: 15px;
    background-color: #11b67a;
    box-shadow: 0px 1px 20px grey;
}

.logo-logo{
    width: 4rem;
    height: 4rem;
}

.logo-name{
    font-size: 52px;
    font-family: 'Merriweather', serif;
}

.button-menu{
    margin-left: 3rem;
}

.navigation{
    display: flex;
    margin: 0%;
    padding: 0%;
    width: 90%;
    height: 2.5rem;

    list-style: none;
    color: white;
    background-color: black;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 20px black;
}


.navigation li{
    width: 22vw;

    font-family: 'Merriweather', 'serif';
    text-align: center;
    align-content: center;
}

.navigation li:hover{
    text-decoration: underline;
}


main{
    display: flex;
    justify-content: space-between;
    height: 500px;

    text-align: center;
    align-items: center;
}

main button{
    height: 5vh;
}

.calculator-next-button{
    clip-path: circle(35.0% at 50% 50%);
    height: 20vh;
    width: 20vw;
    margin: 0;
    padding: 0;
    background: none;
    border: none;

    justify-items: center;
    align-items: center;
}

.calculator-next-button img{
    height: 10vh;
    width: 10vw;
}

@keyframes nextButton{
    0%{

    }
    100%{
        transform: rotate(180deg) scale(2);
        background-color: #11b67a;
    }
}

@keyframes nextButtonReversed{
    0%{
        transform: rotate(180deg) scale(2);
        background-color: #11b67a;
    }
    100%{

    }
}

.calculator-next-button img.active{
    animation-name: nextButton;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.calculator-next-button img.inactive{
    animation-name: nextButtonReversed;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


.calculator-questions, .calculator-input{
    width: 40%;
    height: 80%;
    align-content: center;
    padding: 10px;
    
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px lightgrey;
}

.calculator-questions form, .calculator-input form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.calculator-questions{
    margin-right: 0;
    margin-left: 3vw;
}

.calculator-input{
    margin-left: 0;
    margin-right: 3vw;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.tooltip-icon {
  cursor: pointer;
  font-size: 1rem;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.infoIcon{
    height: 1rem;
    width: 1rem;
}

footer{
    display: flex;
    padding: 30px;
    text-align: center;
    justify-content: center;
    gap: 2rem;

    border: solid black;
    background-color: black;
    color: white;
    font-family: 'Merriweather', serif;
}

footer ul{
    margin: 0;
    list-style: none;
}



@media (max-width: 768px){
    main{
        flex-direction: column;
        height: 900px;
    }

    .navigation{
        width: 100%;
        height: 4rem;
        justify-content: space-around;
    }

    .calculator-questions, .calculator-input{
        width: 90%;
        margin: 2.5vw;
    }


    .calculator-next-button img{
        transform: rotate(90deg);
    }

    @keyframes nextButton{
        100%{
            transform: rotate(270deg);
            scale: 2;
            background-color: #11b67a;
        }
    }

    footer{
        bottom: 0;
    }


}